export(dmdims)
export(dminfo)
export(dminit)
export(dmlist)
export(dmseries)
export(format.dmdataset)
export(format.dmdimension)
export(format.dmdimvalue)
export(format.dmdimvalues)
export(format.dmhierarchicaldimvalue)
export(print.dmdataset)
export(print.dmdimension)
export(print.dmdimvalue)
export(print.dmdimvalues)
export(print.dmhierarchicaldimvalue)
import(RCurl)
import(RJSONIO)
import(zoo)
