export(dmdims)
export(dminfo)
export(dminit)
export(dmlist)
export(dmseries)
import(RCurl)
import(RJSONIO)
import(zoo)
S3method("[",dmdimvalues)
S3method(format,dmdataset)
S3method(format,dmdimension)
S3method(format,dmdimvalue)
S3method(format,dmdimvalues)
S3method(format,dmhierarchicaldimvalue)
S3method(print,dmdataset)
S3method(print,dmdimension)
S3method(print,dmdimvalue)
S3method(print,dmdimvalues)
S3method(print,dmerror)
S3method(print,dmhierarchicaldimvalue)
